@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --side-drawer: linear-gradient(
    45deg,
    #08487ce0,
    #1aa866,
    rgba(152, 198, 27, 0.688)
  );

  --text-primary: #7269ef;
}

:root {
  --text-primary: #7269ef;
}

.text-primary {
  color: #7269ef;
}

.light {
  /* background: var(--side-drawer); */
}

.auth-bg {
  background: linear-gradient(to right, #1f4037, #99f2c8);
}

.nav-bg {
  background: linear-gradient(182deg, #1a2e29, #478568);
}
.login-img {
  position: relative;
  vertical-align: middle;
  max-width: 200%;
}
@media (max-width: 991px) {
  .loginbanner {
    display: none;
  }
}

/* navigation */
ul li {
  margin: 10px;
  list-style: none;
  gap: 20px;
}
.nav-bottom {
  height: 40vh;
}

.text-success {
  color: #0abb87 !important;
}

.fs-icons {
  font-size: 25px;
  /* color: white; */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}
.recent-chats:hover.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  background-color: #0abb87;
}

.chat-bubble {
  margin: 0px 30px;
  position: relative;
  animation: fadeIn 0.5s ease-in;
}
/* .slide-right,
.slide-left {
  overflow: hidden !important;
  width: 100%;
}

.slide-left {
  animation: 3s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.slide-right {
  animation: 3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
} */

.chat-bubble--left:before {
  border-bottom: 5px solid transparent;
  border-left: 5px solid #7269ef;
  border-right: 5px solid transparent;
  border-top: 5px solid #7269ef;
  bottom: -10px;
  content: "";
  left: 0;
  position: absolute;
  right: auto;
}
.primary {
  background: #7269ef;
}

.chat-bubble--right:before {
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #36404a;
  border-right: 5px solid #36404a;
  bottom: -10px;
  content: "";
  right: 0;
  position: absolute;
  left: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.secoundary {
  background: #36404a;
}

.chatheader {
  height: 10%;
}

.chatbody {
  height: 80%;
}

.chatfooter {
  height: 8%;
}
.text-primary {
  color: #7269ef;
}
/* .recent-chats {
  height: 90vh;
} */
/* .side-drawer {
  background: rgb(31 64 55 / 88%);
} */
.contact-bg {
  background: rgb(34 17 139 / 12%);
}

/* transition */
.transition-height {
  max-height: 0;
  transition: max-height 2s ease-in-out;
}

/* Tailwind CSS classes */
.duration-2000 {
  transition-duration: 2000ms;
}

.transparent-bg {
  background: rgb(248 250 252 / 12%);
}

.h-90-percent {
  height: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotate 1s linear infinite;
  transform-origin: center; /* Specify the center of rotation */
}
