.card {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
  height: 140px;
}
.card:hover {
  border-radius: 10px 0;
  transform: scale(1.05);
  transition: 2s ease-in-out;
}
