.dicuss:hover .blue300{
    background-color: #63B3ED;
}
.camp:hover .blue3001{
    background-color: #63B3ED;
}
.survey:hover .teal300{
    background-color: #4FD1C5;
}
.recent:hover .green300{
    background-color: #68D391;
}
.prime:hover .green3001{
    background-color: #68D391;

}
.pledge:hover .green3002{
    background-color: #68D391;

}
.podcast:hover .blue400{
    background-color: #4299E1;
}
.blog:hover .orange300{
    background-color: #F6AD55;
}
.talk:hover .red300{
    background-color: #FC8181;
}
.quiz:hover .red600{
    background-color: #C53030;
}